.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;

  @media (min-width: $max-width) {
    max-width: var(--desktop-width);
    width: var(--desktop-width);
  }

  &__first-row {
    display: flex;
    flex-direction: row;
  }

  &__title {
    display: flex;
    margin: auto;
    align-self: center;
  }

  img {
    display: flex;
    justify-self: left;
    align-self: flex-start;
  }
}
