
.editor {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;

  @media (min-width: $max-width) {
    max-width: var(--desktop-width);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    @media (min-width: $max-width) {
      flex-direction: row;
    }
  }

  [for=project_name] {
    display: flex;
    font-size: 1em;
    justify-self: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $max-width) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__project-name {
    border-radius: var(--space);
    border: 1px solid var(--border-color);
    font-size: 1em;
    margin-top: var(--space);
    padding: var(--space);
    width: 350px;

    @media (min-width: $max-width) {
      max-width: var(--desktop-width);
      margin-top: 0;
      margin-left: var(--space);
    }
  }

  &__inner-editor {
    background: #2d2d2d;
    color: #ccc;
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto auto;
    width: 100vw;

    @media (min-width: $max-width) {
      max-width: var(--desktop-width);
      width: var(--desktop-width);
    }
  }

  .prism-editor__textarea:focus {
    outline: none;
    width: 100vh;
  }
}