
.editor {
  display: flex;
  flex-direction: column;
  margin: calc(1.5 * var(--header-height)) auto auto;
  width: 100vw;

  @media (min-width: $max-width) {
    max-width: var(--desktop-width);
  }

  &__inputs {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: $max-width) {
      flex-direction: row;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  [for=project-name] {
    align-items: flex-start;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: var(--space);
    margin-left: var(--space);
    justify-self: flex-start;
    padding-top: var(--space);

    @media (min-width: $max-width) {
      align-items: center;
    }
  }

  &__title {
    margin-top: var(--space);
    margin-bottom: var(--space);
    margin-left: var(--space);
  }

  &__label {
    align-self: flex-start;
    display: inline-flex;
  }

  &__project-name {
    border-radius: var(--space);
    border: 1px solid var(--border-color);
    font-size: 1em;
    margin-top: var(--space);
    margin-right: var(--space);
    padding: var(--space);
    width: var(--input-width);

    @media (min-width: $max-width) {
      max-width: var(--desktop-width);
    }
  }

  &__inner-editor {
    background: #2d2d2d;
    color: #ccc;
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: calc(2 * var(--space)) auto auto var(--space);
    padding-bottom: var(--space);
    padding-top: var(--space);
    width: calc(100vw - var(--space));
    max-width: calc(var(--max-width) - var(--space));

    @media (min-width: $max-width) {
      max-width: calc(var(--max-width) - var(--space));
    }
  }

  .prism-editor__textarea:focus {
    outline: none;
    width: 100vh;
  }
}