
.report {
  display: flex;
  flex-direction: column;
  margin-left: var(--space);
  width: calc(100vw - 2*var(--space));

  @media (min-width: $max-width) {
    max-width: calc(var(--max-width) - var(--space));
  }

  &--hidden {
    visibility: hidden;
  }

  &__content {
    font-family: monospace;
    font-size: 1em;
    min-height: 250px;
    padding: 8px;
    overflow-y: scroll;
  }
}