
.report {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;

  @media (min-width: $max-width) {
    max-width: var(--desktop-width);
  }

  &--hidden {
    visibility: hidden;
  }

  &__content {
    font-family: monospace;
    font-size: 1em;
    min-height: 250px;
    padding: 8px;
    overflow-y: scroll;
  }
}