
.label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
  justify-self: flex-start;
  max-width: var(--max-width);
  width: 100%;

  @media (min-width: $max-width) {
    align-items: flex-start;
  }
}

.inlined-label {
  align-self: flex-start;
  display: flex;
  margin-left: calc(0.5 * var(--space));
  width: 100%;
}

.text-input {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: 1em;
  margin-top: var(--space);
  padding: var(--space);
  width: var(--input-width);

  @media (min-width: $max-width) {
    max-width: var(--desktop-width);
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--space);
  margin-left: var(--space);
}

.row-group {
  display: flex;
  flex-direction: column;
  margin-top: var(--space);
  width: 100%;
}