:root {
  --border-color: #c1c1c1;
  --desktop-width: 952px;
  --header-height: 35px;
  --input-width: 225px;
  --max-width: 768px;
  --space: 8px;
}

$max-width: 768px;

body {
  margin: 0 0 calc(3 * var(--space));
}