
.verification-steps {
  button {
    background: none;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    margin-left: 16px;
    margin-top: 16px;
    padding: 8px;

    &.verification-steps__disabled {
      background-color: #c1c1c1;
    }

    &:hover {
      cursor: pointer;

      &.verification-steps__disabled {
        cursor: not-allowed;
      }
    }

    &__clicked {
      background-color: #c1c1c1;
    }
  }
}