
.verification-steps {
  display: flex;
  height: 50px;
  margin: auto auto auto 0;

  @media (min-width: $max-width) {
    align-self: flex-end;
    margin: auto auto auto var(--space);
  }

  button {
    background: none;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    box-shadow: 2px 1px 1px black;
    font-size: 1em;
    margin: auto;
    padding: var(--space);
    width: 250px;

    &.verification-steps__disabled {
      background-color: #c1c1c1;
      display: none;
    }

    &:hover {
      cursor: pointer;

      &.verification-steps__disabled {
        cursor: not-allowed;
      }
    }

    &__clicked {
      background-color: #c1c1c1;
    }
  }
}